<div th:fragment="html" xmlns:th="http://www.thymeleaf.org">
    <!-- class="navigatorDiv"  -->
<!-- <nav><h1 class="navbar-brand">后台系统</h1></nav> -->

<!-- <nav class="nav nav-pills navbar-fixed-top">
        <a class="navbar-brand" href="admin_category">商品管理</a>
        <a class="navbar-brand" href="admin_user">用户管理</a>
        <a class="navbar-brand" href="admin_indent">订单管理</a>
    </nav> 
-->
    <ul class="nav nav-tabs">
        <li><a class="navbar-brand" href="admin_category">商品管理</a></li>
        <li><a class="navbar-brand" href="admin_user">用户管理</a></li>
        <li><a class="navbar-brand" href="admin_indent">订单管理</a></li>
    </ul>
</div>