<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="publicPage/adminPage/Header::html('商品管理')">
    <meta charset="UTF-8">
</head>
<!--<div th:replace="/publicPage/adminPage/Navigator::html"></div>-->
<body>
<div th:replace="publicPage/adminPage/Navigator::html"></div>

<div id="vueMountedHook">
    <h1 class="label label-warning">商品管理</h1>
    <br>
    
    <br>
    <div class="listDataTableDiv">
            <table class="table table-striped table-hover table-bordered">
                <thead>
                <tr class="">
                    <!-- <th>ID</th> -->
                    <th>商品类别</th>
                    <th>图片</th>
                    <th>商品</th>
                    <th>类别属性</th>
                    <th>编辑类别</th>
                    <th>删除</th>
                </tr>
                </thead
                <tbody>
                <tr v-for="item in items">
                    <!-- <td>{{ item.id }}</td> -->
                    <!--    忘记 v-bind 绑定了 ，不要用缩写 ":"  很恶心，根本看不见-->
                    <td>{{ item.name }}</td>
                    <td><img height="40px"  v-bind:src=" 'img/category/' + item.id + '.jpg' "></td>
                    <td><a v-bind:href=" 'admin_good?cid=' +item.id "><span class="glyphicon glyphicon-shopping-cart"></span></a></td>
                    <td><a v-bind:href=" 'admin_attribute?cid=' + item.id "><span class="glyphicon  glyphicon-tags "></span></a></td>
                    <td><a v-bind:href=" 'edit_category?id=' +item.id "><span class="glyphicon glyphicon-pencil "></span></a></td>
                    <td><a href="" @click="deleteCategory(item.id)"><span class="glyphicon glyphicon-trash"></span></a></td>
                </tr>
                </tbody>
            </table>
    </div>
<!--
<div th:replace="/publicPage/adminPage/Footer::html"></div>
-->

<div class="panel panel-default addDiv">
    <div class="panel-heading">新增类别</div>
    <div class="panel-body">
        <table class="addTable">
            <tr>
                <td>名称</td>
                <!--   -->
                <td><input  @keyup.enter="add" v-model.trim="item.name" type="text" class="form-control"></td>
            </tr>
            <tr>
                <td>图片</td>
                <td>
                    <input id="categoryPic" accept="image/*" type="file" name="image" @change="setFile($event)" />
                </td>
            </tr>
            <tr class="submitTR">
                <td colspan="2" align="center">
                    <!-- <a href="#nowhere"  @click="add" class="btn btn-success"> 提交 </a> -->
                    <button type="submit"class="btn btn-success" @click="add">提交</button>
                </td>
            </tr>
        </table>
    </div>
</div>
<div th:replace="publicPage/adminPage/Footer::html"></div>

</div>
<script>
    var uri = "categories";
    var modelData = {
        items:[],
        item:{id:0,name:""},
        file:null
    };
    var vue = new Vue({
        //  忘记加 # 导致没有挂载成功
        el: '#vueMountedHook',
        data:modelData,
        mounted:function(){
            // vue.list();     // error in mounted: undefined is not an object
            this.list();       //   使用 this 才能成功挂载
        },
        methods:{
            list:function(){
                axios
                .get(uri)                 //  this.uri +"?start="+start
                .then(function(response){
                    vue.items = response.data;    //  this.items = response.data; 无法显示所有数据  这个this，作用域范围是是 then函数里，而非 Vue的实例对象
                    console.log(response.data);
                }).catch(function (error) {
                    console.log(error.message);
                    console.log("获取服务器信息失败");
                });
            },
        
            add:function(){
                if ( !isEmpty(this.item.name,"类别名称")) {
                    return;
                }
                if ( !isEmpty(this.file,"图片") ){
                    return;
                }
                // var url = this.url;
                //  格式化需要上传的文件
                var formData = new FormData();
                formData.append("name",this.item.name);
                formData.append("image",this.file);
                //  ajax 上传文件
                axios.post(uri,formData).then(function(response){
                    console.log(response);
                    vue.list();
                    // document.getElementById("categoryPic").value = 
                    vue.item = {id:0, name:""};
                    vue.file = null;
                });
            },
            
            setFile:function(event){
                this.file = event.target.files[0];
            },

            deleteCategory:function(id){
                alert("若需要删除，请先将属于该分类的商品及属性删除，否则删除失败");
                if ( isDeleteLink() ){
                    return;
                }
                // let url = this.uri+"/"+id;   url: "undefined/91"
                let url = uri+"/"+id;   //  不要乱用 this，否则
                axios
                .delete(url)
                .then(function(response){
                    // console.log(reponse.data);
                    vue.list();
                });
            }
        }
    });
</script>
</body>
</html>