<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="publicPage/frontPage/header::html" ></head>
<body>
<div id="vueHook">
    <div th:replace="publicPage/frontPage/top::html" ></div>
    <div th:replace="publicPage/frontPage/search::html" ></div>
    <div th:replace="publicPage/frontPage/good/goodPage::html" ></div>
    <div th:replace="publicPage/frontPage/modal4login::html" ></div>
    <div th:replace="publicPage/frontPage/footer::html" ></div>
</div>
<script>
var vue = new Vue({
    el:"#vueHook",
    data(){
        return{
            result:[],
            good:"",
            comments:[],
            attributeValues:[],
            user:{
                name:"",
                password:""
            },
            category:null,
            shrinkImage:null,
            showDetails:true,
            showComments:false,
            isLogin:false
        }
    },
    mounted(){
        axios.get("froegood/" + getUrlParms("good_id"))
        .then( response => {
            // vue.result = response.data;
            vue.good = response.data.data.good;
            vue.comments = response.data.data.comments;
            vue.attributeValues = response.data.data.attributeValues;
            // 根据对应关系，赋值
            vue.category = vue.good.category;
            vue.shrinkImage = vue.good.shrinkImage;
        }).catch( error => {
            console.log(error.message);
        });
    },
    methods:{
        // 显示详情页
        tirggerDetail:function(){
            this.showComments = false;
            this.showDetails = true;
        },
        // 显示评论
        triggerComments:function(){
            this.showComments = true;
            this.showDetails = false;
        },
        // 输入购买数量
        inputPurchaseAmount:function(){
            let stock = this.good.stock
            // let amount = getPurchaseAmount();
            let amount = $(".productNumberSetting").val();
            if ( isNaN(amount) || amount <= 0 ){
                amount = 1;
            }
            if ( amount > stock ){
                amoutn = stock;
            }
            // checkStockBoundary(amount);
            // setPurchaseAmount(amount);
            $(".productNumberSetting").val(amount);
        },
        // 购买数量+1
        purchaseAmountUp:function(){
            // let amount = getPurchaseAmount();
            let amount = $(".productNumberSetting").val();
            amount++;
            if ( amount > stock ){
                amoutn = stock;
            }
            // checkStockBoundary(amount);
            // setPurchaseAmount(amount);
            $(".productNumberSetting").val(amount);
        },
        // 购买数量-1
        purchaseAmountDown:function(){
            // let amount = getPurchaseAmount();
            let amount = $(".productNumberSetting").val();
            --amount;
            if ( isNaN(amount) || amount <= 0 ){
                amount = 1;
            }
            // checkStockBoundary(amount);
            // setPurchaseAmount(amount);
            $(".productNumberSetting").val(amount);
        },
        // 添加到购物车
        addCart:function(){
            axios.get("foreCheckLogin").then( response =>{
                if ( 0 === response.data.code ){
                    this.isLogin = true;
                }else{
                    // 如果没有登陆，弹出登录窗口
                    $("#loginModal").modal('show'); 
                }
            }).catch( error =>{
                console.log(error);
            });

            // 如果已登陆，则将商品添加到购物车
            if ( isLogin ){
                let good_id = vue.good.id;
                let amount = $(".productNumberSetting").val();
                let url = "foreAddCart?good_id=" + good_id + "&amount=" + amount;
                axios.get(url).then( response =>{
                    result = response.data;  
                    if ( 0 === result.code ){
                        $(".addCartButton").html("已加入购物车");
                        $(".addCartButton").attr("disabled","disabled");
                        $(".addCartButton").css("background-color","lightgray")
                        $(".addCartButton").css("border-color","lightgray")
                        $(".addCartButton").css("color","black")
                    }
                }).catch( error =>{
                    console.log(error);
                });
            }
        },
        // 立即购买
        buyImmediately:function(){
            axios.get("foreCheckLogin").then( response =>{
                if ( 0 === response.data.code ){
                    this.isLogin = true;
                }else{
                    // 如果没有登陆，弹出登录窗口
                    $("#loginModal").modal('show'); 
                }
            }).catch( error =>{
                console.log(error);
            });

            if ( isLogin ){
                let good_id = vue.good.id;
                let amount = $(".productNumberSetting").val();
                let url = "foreAddCart?good_id=" + good_id + "&amount=" + amount;
                axios.get(url).then( response =>{
                    let indentItem_id =  response.data;
                    location.href = "buy?indentItem_id=" + indentItem_id;
                });
            }
        },
        // 登录验证
        login:function(){
                    if ( 0 === this.user.name.length ){
                        alert("请输入账户");
                        return;
                    }
                    if ( 0 === this.user.password.length ){
                        alert("请输入密码");
                        return;
                    }
                    axios.post("login",this.user).then( response => {
                        result = response.data;
                        if ( result.code === 0 ){
                            location.href = "good?good_id=" + vue.good.id;
                        }else{
                            alert(result.message);
                        }
                    }).catch( error => {
                        // console.log(error.message);
                        alert(error);
                    });
                }
        // 获取<input> 标签的属性的值 value 
        // getPurchaseAmount:function(){
        //     let amount = document.querySelector("productNumberSetting").value;
        //     return parseInt(amount);
        // },
        // // 设置<input> 标签的属性的值 value 
        //     setPurchaseAmount:function(amount){
        //         document.querySelector("productNumberSetting").value = amount;
        //     },
        // // 判断
        // checkStockBoundary:function(amount){
        //     if ( isNaN(amount) || amount <= 0 ){
        //         amount = 1;
        //     }
        //     if ( amount > stock ){
        //         amoutn = stock;
        //     }
        //     return amount;
        // },
    }
});

</script>
</body>
</html>