<div th:fragment="html">
    <div class="productReviewDiv" v-show="showComments" >
        <div class="productReviewTopPart">
            <a  href="" class="productReviewTopPartSelectedLink" 
                v-on:click="tirggerDetail">商品详情</a>
            <a  href="" class="selected">
                累计评价 
                <span class="productReviewTopReviewLinkNumber">
                    {{good.commentAmount}}
                </span> 
            </a>
        </div>
        <div class="productReviewContentPart">
            <div class="productReviewItem" 
                v-for="comment in comments">
                <div class="productReviewItemDesc">
                    <div class="productReviewItemContent">
                        {{comment.content }}
                    </div>
                    <div class="productReviewItemDate">
                        {{comment.createDate|formatDateFilter('YYYY-MM-DD')}}
                    </div>
                </div>
                <div class="productReviewItemUserInfo">
                    {{comment.user.anonymousName}}
                    <span class="userInfoGrayPart">
                        （匿名）
                    </span>
                </div>
                <div style="clear:both"></div>         
            </div>
        </div>
    </div>
    <div class="productDetailDiv" v-show="showDetails" >
                <div class="productDetailTopPart">
                    <a 
                        href="" 
                        class="productDetailTopPartSelectedLink selected">
                        商品详情
                    </a>
                    <a 
                        href="" 
                        class="productDetailTopReviewLink" 
                        @click="triggerComments">
                            累计评价 
                            <span class="productDetailTopReviewLinkNumber">
                                {{good.commentAmount}}
                            </span> 
                    </a>
                </div>
                <div class="productParamterPart">
                    <div class="productParamter">产品参数：</div>
                    <div class="productParamterList">
                        <span 
                            v-for="attributeValue in attributeValues" >
                            {{attributeValue.attribute.name}}: {{attributeValue.value | subStringFilter(0,10)}} 
                        </span>
                    </div>
                    <div style="clear:both"></div>
                </div>
                
                <div class="productDetailImagesPart">
                    <img 
                        v-for="detailImage in good.detailImageList" 
                        v-bind:src="'img/goodDetail/' + detailImage.id + '.jpg'">
                </div>
    </div>
</div>